html{
    scroll-behavior: smooth;
}
html, body {
  width: 100%;
  
  overflow-x: hidden
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}
/*  DEBUT NAV-BAR */
#menu-toggle{
    display: none;
}

.menu-icon{
    display: none;
    font-size: 26px;
    cursor: pointer;
    z-index: 3000;
}

.menu-icon.close{
    display: none;
}


header {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 135px;
    z-index: 2;
}

.topbar {
    background-color: black;
    padding: 0px 0px;
}

.gauche {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.mail,
.tel {
    height: fit-content;
    margin-top: 13PX;
}
.email, #contact{
    color: white;
    text-decoration: none;

}

.image {
    width: 20px;
    height: 20px;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.droite {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

p {
    color: white;
}

a:hover {
    color: #f04527;
    text-decoration: underline;
}

#a{
    text-decoration: none;
}
.container2 {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul{margin-top: -1px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

li{
    list-style-type: none;
    
}
.right{
    display: flex;
    gap: 20px;
    margin-top: 27px;
}

h1 {
    color: rgb(61, 60, 60);
}

.right,
.nav {
    color: rgb(61, 60, 60);
}
.nav{
    text-decoration: none;
}
.nav:hover {
    color: #f04527;
    text-decoration: none;
}

.droite1{
    display: none;
}
/*  FIN NAV-BAR */

/*  DEBUT HOME */
.container3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    place-content: center;
    margin-top: 20px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 35px;
    padding-bottom: 10px;
}

.item {
    border: 1px solid grey;
    border-radius: 10px;
    height: 50vh;
    margin-top: 40px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .5)
}

.item1 {
    border: 1px solid grey;
    border-radius: 10px;
    width: 90%;
    height: 65vh;
    text-align: center;
    margin-right: 15px;
    background-color: #fb5b05;
    color: white;
    padding: 20px ;
}
#a:hover {
    background-color: white;
    text-decoration: none;
}
.home {
    background-image: url(img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 135px;    
}
#hero{
    height: 130vh ;
    background-color: rgba(0, 0, 0, .6)
}

.div1 {
    padding-top: 50px;
    padding-left: 40px;
    font-size: 2rem;
}

h2 {
    color: white;
    margin-bottom: -30px;
}

.learn {
    background-color: #fa8342;
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    border-style: none;
    font-size: medium;
}


.img{
    padding-top: 20px;
}
/*  FIN HOME */


/*  DEBUT ABOUT */
.div2{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.p1{
    color: rgb(61, 60, 60);
    margin-bottom: 45px;
}
#abou, .image2{
    margin-left: 20px;
    
    margin-top: 25px; 
    width: 450px;
    height: auto;

}

.div3{
    margin-top: 20px;
    margin-left: 30PX;
    margin-right: 40px;
}
.H2{
    padding-bottom: 30px;
    color: rgb(61, 60, 60);
    font-size: 2rem;
}
h4{
    margin-bottom: -10px;
    color: rgb(61, 60, 60);
}
.div4, .div6, .div8, .div11{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.div5, .div7, .div9, .div12{
    margin-top: -12px;
}
.about{
    padding-top: 12px;
    background-color: rgb(248, 245, 241);
   
}
/*  FIN ABOUT */

/*  DEBUT CLIENT */
.cli{
    width: 120px;
}
.clients{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    margin-top: 70px;
    margin-bottom: 70px;
}
/*  FIN CLIENT */

/*  DEBUT SERVICES */
 .services{
    background-color: rgb(248, 245, 241);
    padding-bottom: 0px; 
}
.trois{
    color: rgb(61, 60, 60);
}
.P2{
    color: rgb(61, 60, 60);
}
.service{
    text-align: center;
    padding-top: 40px; 
}
.cards{
    margin-top: 70px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.card{
    border: 1px solid grey;
    padding: 30px;
    padding-top: 40px;
    text-align: center;
    background-color: white;
    margin-bottom: 30px;
}
.sens{
    position: relative;
    margin-top: -70px;
    margin-left: 10px;
}
.sensor{
    background-color: #f04527;
    border-radius: 29px;
}

.H3, .P3{
    padding: 10px;
    color: rgb(61, 60, 60); 
}


.back{
    text-align: center;
    position: relative;
    top: 25%;
    z-index: 1;
    margin: 140px 30px;
    padding: 0px;
    border-radius: 15px;
    background-color: rgba(245, 242, 242, 0.943)   
}
.cartes{
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
     margin-left: 40px;
    margin-right: 40px;
}
.carte1{
    background-image: url(img/services-1.jpg);
    background-position:right;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    border-radius: 15px;
}
.carte2{
    background-image: url(img/services-2.jpg);
    background-position:right;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    border-radius: 15px;
}
.carte3{
    background-image: url(img/services-3.jpg);
    background-position:right;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    border-radius: 15px;
}
.carte4{
    background-image: url(img/services-4.jpg);
    background-position:right;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    border-radius: 15px;
}
.lens:hover{
    color: #f04527;
    text-decoration: none;
}
a{
    color: rgb(61, 60, 60);
    text-decoration: none;
}

#temoin{
    margin-bottom: 70px;
    background-image: url(img/testimonials-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
   height: auto;
}
h5, #h2{
    color: white;
    text-align: center;
}
/*  FIN SERVICES */


/*  DEBUT PORTFOLIO */
.portfolio{
    text-align: center; 
}
#test, .testi{
    margin: 0px auto;
    height: auto;
    width: 100px;
}
.testi{
    margin-top: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 25px rgba(252, 252, 254, 0.5); 
}
.contain{
    position: relative;
    text-align: center;
    padding-top: 70px;
}

.red{
    color: rgb(165, 158, 158);
}
strong{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(165, 158, 158) 
}

#contain{
    height: 63vh;
    background-color: rgba(0, 0, 0, .5)
}
.ico{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.p4{
    color: rgb(61, 60, 60);
}

.bout1{
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #ff5e08;
    cursor: pointer;
    color: white;
}
.bout{
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: rgb(61, 60, 60)
}
.bout:hover{
    background-color:  #ff5e08;
    cursor: pointer;
    color: white;
}
#im, .ima{
    width: 400px;
    height: 50vh;
}
.container4{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    margin: 40px 40px;
}

/*  FIN PORTFOLIO */


/* DEBUT TEAM */

.P5{
    color: rgb(83, 83, 83);
}
.p5{
    color: rgb(141, 139, 139);
}
.im, #img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 280px;
    height: auto;
}
.container5{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

.items{
    border-radius: 15px;
    box-shadow: 0px 0px 10px #d1d1d1; 
    text-align: center;
}
.teams{
    text-align: center;
}
.team{
    padding-top: 20px;
    padding-bottom: 70px;
    margin-top: 40px;
    background-color: rgb(248, 245, 241);
}
/* FIN TEAM */

/* DEBUT PRICING */
.container6{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    
}
.enfant{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
}
.pricing{
    text-align: center;
}
.pri{
    margin: 0px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(233, 236, 235, 0.717);
}
.bu{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ff6d2f;
    padding: 10px;
}
.dev{
    margin: 0px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(233, 236, 235, 0.717);
}
.ult{
    margin: 0px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(233, 236, 235, 0.717);
}
.buy{
    padding: 10px;
    background-color: rgba(233, 236, 235, 0.717);
}
button{
    background-color: #ff6d2f;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
}
.p0{
    color: white;
}
.border{
    border-radius: 10px;
    box-shadow: 0px 4px 7px #d1d1d1;
}

.enfants1{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    padding-right: 10px;
    margin: 10px;
    background-color: rgba(233, 236, 235, 0.717);
}
.enfants2{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    
    background-color: rgba(233, 236, 235, 0.717);
}
.enfants3{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    padding-right: 10px;
    margin: 10px;
    background-color: rgba(233, 236, 235, 0.717);
}
.enfants4{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    padding-right: 10px;
    margin: 10px;
    background-color: rgba(233, 236, 235, 0.717);
}
.enfants5{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    padding-right: 10px;
    margin: 10px;
    background-color: rgba(233, 236, 235, 0.717);
}
.container7{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.freque{
    text-align: center;
      background-color: rgb(248, 245, 241);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
}
/* FIN PRICING */


/* DEBUT CONTACT */
.pc{
    color: rgb(83, 83, 83);
}
.enf{
    display: flex;
    gap: 20px;
    
    padding: 10px;
    box-shadow: 0px 4px 10px #d1d1d1;
}
.IC{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px ;
    border-radius: 40px;
    padding-bottom: 25px;
    
    background-color: #ff6d2f;
    
}
.ic{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px ;
    border-radius: 40px;
    padding-bottom: 0px;
    
    background-color: #ff6d2f;
    
}
.container8{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.cont{
    text-align: center;
}

form {
    margin: 60px;
    padding: 30px 60px;
    padding-bottom: 80px;
    box-shadow: 0px 4px 10px #d1d1d1;
    position: relative;
}

.name {
    display: flex;
    gap: 40px;
    margin-bottom: 25px;
}

.nam {
    width: 100%;
}

input,
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid gray;
    outline: none;
}

input:hover,
textarea:hover {
    border: 1px solid #fb5b05;
}
.subject,
.message {
    margin-bottom: 25px;
}

#message {
    min-height: 150px;
}
#submit {
    width: 20%;
    display: block;
    margin: 0PX auto;
    padding: 15px 30px;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 30px;
    background-color: #fb5b05;
    cursor: pointer;
}

/* FIN CONTACT */

/* footer */
.pied{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
    margin-right: 60px;
    margin-left: 60px;
}
#HH{
    margin-bottom: 40px;
}
#ics{
    margin-right: 0px;
    border: 1px solid gray;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 80px;
}

.cribe{display: flex;
    justify-content: end;
    width: 100%;
     border: 1px solid gray;
     border-radius: 25px;
    background-color: rgba(233, 236, 235, 0.717);
}
#scribe{
    border-radius: 25px;
}
.copy{
    font-size: small;
    text-align: center;
}
#em{
    color: #fb5b05;
}
footer{
    background-color: rgb(248, 245, 241);
}
@media screen and (max-width: 768px) {

    
    * {
        max-width: 100%;
        box-sizing: border-box;
    }
   .menu-icon{
        display: block;
    }

    .container{
        
        padding-left: 0px;
        padding-right: 0px;
    }
    header{
        position: fixed;
    }
  
    
    .gauche{
        margin: 0 auto;
    }
    .droite{
        display: none;
    }
.droite1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
ul{
    display: flex;
    flex-wrap: wrap;
}
   .menu-icon{
    margin-top: 25px;
   }
    #menu-toggle:checked ~ .menu-mobile{
        right: 0;
    }

    #menu-toggle:checked ~ .open{
        display: none;
    }

    #menu-toggle:checked ~ .close{
        display: block;
        position: fixed;
        top: 20px;
        right: 25px;
    }
    .container3{
        grid-template-columns: 1fr;
        margin-right: 30px;
    }
    .item1{
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
        height: auto;
    }
    .item{
        width: 100%;
        height: auto;
    }

    .home{
        height: auto;
    }
    #hero{
        height: auto;
    }

    .div2{
        flex-direction: column;
    }

    #abou, .image2{
        width: 90%;
        height: auto;
        
    }
    .div1{
        margin-left: 20px;
    }
    
    .div3{
        margin-left: 40px;
        margin-right: 40px;
    }
    .clients{
        flex-wrap: wrap;
    }
    .cli{
        width: 90%;
    }
    
    .cards{
        grid-template-columns: 1fr;
    }
    .cartes{
        grid-template-columns: 1fr;
    }
    .carte1, .carte2, .carte3, .carte4{
        width: 100%;
        
    }
    .services{
         height: auto;
         background-color: rgb(248, 245, 241)
       
    }
    #temoin{
        height: auto;
    }
   #contain{
    
    height: auto;
   }

   #test, .testi{
    margin: 0 auto;  
}
.container4{
    grid-template-columns: 1fr;
}
.container5{
    grid-template-columns: 1fr;
}
#im, .ima{
    width: 95%;
    height: auto;
}
.im, #img{
    width: 95%;
    height: auto;
}
.container6{
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.container7{
    width: 100%;
}
.container8{
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-right: 10px;
}
 form {
        margin: 10px;
        padding: 20px;
    }

   
#submit{
    width: 70%;
}
.pied{
    margin: 10px;
    flex-direction: column;
}


}

@media screen and (max-width: 1146px){
     * {
        max-width: 100%;
        box-sizing: border-box;
    }
   .menu-icon{
        display: block;
    }

    .container{
        
        padding-left: 0px;
        padding-right: 0px;
    }
    header{
        position: fixed;
    }
  
    .menu-mobile{
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background: white;
        transition: 0.3s ease;
        overflow-y: auto;
        z-index: 2000;
    }
    .droite{
        display: none;
    }
    .gauche{
        margin: 0 auto;
    }
.droite1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
ul{
    display: flex;
    flex-wrap: wrap;
}
   .menu-icon{
    margin-top: 25px;
   }
    #menu-toggle:checked ~ .menu-mobile{
       
        right: 0;
    }

    #menu-toggle:checked ~ .open{
        display: none;
    }

    #menu-toggle:checked ~ .close{
        display: block;
        position: fixed;
        top: 0px;
        right: 5px;

}

 .container3{
        grid-template-columns: 1fr;
        margin-right: 20px;
    }
    .item1{
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
        height: auto;
    }
    .item{
        width: 100%;
        height: auto;
    }

    .home{
        height: auto;
    }
    #hero{
        height: auto;
    }

     .div2{
        flex-direction: column;
    }
    #abou, .image2{
        width: 90%;
        height: auto;
       
        
    }
   .div1{
        margin-left: 20px;
    }
    .div3{
        margin-left: 40px;
        margin-right: 40px;
    }

    .clients{
        flex-wrap: wrap;
        
    }

    .cli{
        width: 90%;
    }
     .cards{
        grid-template-columns: 1fr;
    }
    .cartes{
        grid-template-columns: 1fr;
    }
    .carte1, .carte2, .carte3, .carte4{
        width: 100%;
    }
   .services{
         height: auto;
         background-color: rgb(248, 245, 241)
       
    }
     #temoin{
        
        height: auto;
    }
   #contain{
    
    height: auto;
   }
  #test, .testi{
    margin: 0 auto;  
}
.container4{
    grid-template-columns: 1fr;
}
.container5{
    grid-template-columns: 1fr;
}
#im, .ima{
    width: 95%;
    height: auto;
}
.im, #img{
    width: 100%;
    height: auto;
}
.container6{
    flex-direction: column;
    margin: 30px;
}
.container7{
    width: 100%;
}
.container8{
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-right: 10px;
}
form{
    margin: 10px;
}
#submit{
    width: 70%;
}
.pied{
    margin: 10px;
    flex-wrap: wrap;
}

}
  
