html{
    scroll-behavior: smooth;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}
#menu-toggle{
    display: none;
}

.menu-icon{
    display: none;
    font-size: 26px;
    cursor: pointer;
    z-index: 3000;
}

.menu-icon.close{
    display: none;
}

/*  FIN NAV-BAR */
header {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 135px;
    z-index: 2;
}

.topbar {
    background-color: black;
    padding: 0px 0px;
}

.gauche {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.mail,
.tel {
    height: fit-content;
    margin-top: 13PX;
}
.email, #contact{
    color: white;
    text-decoration: none;

}

.image {
    width: 20px;
    height: 20px;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.droite {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

p {
    color: white;
}

a:hover {
    color: #f04527;
    text-decoration: underline;
}


.container2 {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul{margin-top: -1px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

li{
    list-style-type: none;
    
}
.right{
    display: flex;
    gap: 20px;
    margin-top: 27px;
}

h1 {
    color: rgb(61, 60, 60);
}

.right,
.nav {
    color: rgb(61, 60, 60);
}
.nav{
    text-decoration: none;
}
.nav:hover {
    color: #f04527;
    text-decoration: none;
}
.droite1{
    display: none;
}
/*  FIN NAV-BAR */

/*  DEBUT HOME */
.container3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
    padding-top: 50px;
    padding-left: 50px;
  

}

.item {
    border: 1px solid grey;
    border-radius: 10px;
    width: 250px;
    height: 50vh;
    margin-top: 40px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .5)
}

.item1 {
    border: 1px solid grey;
    border-radius: 10px;
    width: fit-content;
    height: 65vh;
    text-align: center;
    margin-right: 25px;
    background-color: #fb5b05;
    color: white;
    padding: 10px 30px;
}
#a:hover {
    background-color: white;
    text-decoration: none;
}
.home {
    background-image: url(img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120vh; 
    padding-top: 135px; 
    
}
#hero{
    height: 120vh ;
    background-color: rgba(0, 0, 0, .6)
}

.div1 {
    padding-top: 50px;
    padding-left: 50px;
    font-size: 2rem;
}

h2 {
    color: white;
    margin-bottom: -30px;
}

.learn {
    background-color: #fa8342;
    color: white;
    padding: 10px 26px;
    border-radius: 15px;
    border-style: none;
    font-size: medium;
}


.img{
    padding-top: 20px;
}
/*  FIN HOME */
/*  DEBUT ABOUT */
.div2{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.p1{
    color: rgb(61, 60, 60);
    margin-bottom: 30px;
}
.image2{
    margin-left: 50px;
    margin-top: 50px;
    width: 450px;
    height: 75vh;
}
.div3{
    margin-top: 40px;
    
}
.H2{
    padding-bottom: 30px;
    color: rgb(61, 60, 60);
    font-size: 2rem;
}
h4{
    margin-bottom: -10px;
    color: rgb(61, 60, 60);
}
.div4, .div6, .div8, .div11{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.div5, .div7, .div9, .div12{
    margin-top: -12px;
}
.about{
    background-color: rgb(248, 245, 241);
   
}
/*  FIN ABOUT */

/*  DEBUT CLIENT */
.cli{
    width: 120px;
}
.clients{
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: 70px;
}
/*  FIN CLIENT */

/*  DEBUT SERVICES */
.services{
    background-color: rgb(248, 245, 241);
    height: 140vh;
}
.trois{
    color: rgb(61, 60, 60);
}
.P2{
    color: rgb(61, 60, 60);
}
.service{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.card{
    border: 1px solid grey;
    padding: 30px;
    padding-top: 40px;
    text-align: center;
    background-color: white;
}
.sensor{
    margin-top: -100px;
    background-color: #f04527;
    border-radius: 29px;
}
.H3, .P3{
    padding: 30px;
    padding-bottom: 10px;
    color: rgb(61, 60, 60);
}

.back{
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 140px 30px;
    padding: 0px;
    border-radius: 15px;
    background-color: rgba(245, 242, 242, 0.943)   
}
.cartes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
     margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
}
.carte1{
    background-image: url(img/services-1.jpg);
    background-position:right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
    width: 550px;
    border-radius: 15px;
}
.carte2{
    background-image: url(img/services-2.jpg);
    background-position:right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
    width: 550px;
    border-radius: 15px;
}
.carte3{
    background-image: url(img/services-3.jpg);
    background-position:right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
    width: 550px;
    border-radius: 15px;
}
.carte4{
    background-image: url(img/services-4.jpg);
    background-position:right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
    width: 550px;
    border-radius: 15px;
}
.lens:hover{
    color: #f04527;
    text-decoration: none;
}
a{
    color: rgb(61, 60, 60);
    text-decoration: none;
}
.serv{
    height: 135vh;
    margin-bottom: 40px;
}
.temoin{
    height: 70vh;
    line-height: 10vh;
    background-image: url(img/testimonials-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h5, #h2{
    color: white;
    text-align: center;
}
/*  FIN SERVICES */

/*  DEBUT PORTFOLIO */
.portfolio{
    text-align: center;
    
}
#test, .testi{
    height: auto;
    width: 100px;
}
.testi{
    margin-top: 10px;
    position: relative;
    margin: 0px 570px;
     border-radius: 50px;
    box-shadow: 0px 0px 25px rgba(252, 252, 254, 0.5); 
}
.contain{
    position: relative;
    text-align: center;
    padding-top: 70px;
}

#contain{
    height: 58vh;
    background-color: rgba(0, 0, 0, .5)
}
.ico{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.p4{
    color: rgb(61, 60, 60);
}

.bout1{
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #ff5e08;
    cursor: pointer;
    color: white;
}
.bout{
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: white;

}
.bout:hover{
    
    background-color:  #ff5e08;
    cursor: pointer;
    color: white;
}





@media screen and (max-width: 780px) {

    
    * {
        max-width: 100%;
        box-sizing: border-box;
    }
   .menu-icon{
        display: block;
    }

    .container{
        
        padding-left: 0px;
        padding-right: 0px;
    }
    header{
        position: fixed;
    }
  
    .menu-mobile{
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background: white;
        transition: 0.3s ease;
        overflow-y: auto;
        z-index: 2000;
    }
    .droite{
        display: none;
    }
.droite1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
ul{
    display: flex;
    flex-wrap: wrap;
}
   .menu-icon{
    margin-top: 25px;
   }
    #menu-toggle:checked ~ .menu-mobile{
        right: 0;
    }

    #menu-toggle:checked ~ .open{
        display: none;
    }

    #menu-toggle:checked ~ .close{
        display: block;
        position: fixed;
        top: 20px;
        right: 25px;
    }
    .container3{
        padding-left: 25px;
        width: 100px;
        grid-template-columns: 1fr;
    }

  .home {
    background-image: url(img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 285vh;
}

#hero{
    height: 270vh ;
}
.item{
    width: 340px;
    height: 45vh;
}
.item1{
    width: 340px;
    height: 45vh;
}
.div2{
    flex-direction: column;
}
.image2{
    margin-left: 10px;
    width: 370px;
    height: auto;
}
.div3{
    margin-left: 20px;
}
.clients{
    flex-direction: column;
    margin-left: 65px;
}
.cli{
    width: 250px;
}
.cards{
    grid-template-columns: 1fr;
}
.services{
    background-color: rgb(248, 245, 241);
    height: 250vh;
}
.cartes{
    grid-template-columns: 1fr;
    margin-left: 30px;
}
.carte1, .carte2, .carte3, .carte4{
    width: 330px;
    height: auto;
    margin-left: 0px;
}
/* #temoin{
    margin-top: 1040px;
}
.temoin{
    background-size: contain;
    width: 100%;
    
}
#test, .testi{
    height: auto;
    width: 100px;
}
.testi{
    margin-top: 0px;
    position: relative;
   margin: 0px 140PX;
     border-radius: 50px;
    box-shadow: 0px 0px 25px rgba(252, 252, 254, 0.5); 
}
#contain{
    height: 35vh;
    background-color: rgba(0, 0, 0, .5)
} */


}